html {
	font-size: 1px;
  }
body {
	font-family: "Poppins", sans-serif;
	background: var(--dark);
	color: var(--white);
	height: 100%;
	font-size: 16rem;
}
html,body {
	height: 100%;
}

.container {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100%;
}
#root {
	height: 100%;
}
body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--dark);
	z-index: -1;
}
